<template>
    <div class="draw-details">
        <table>
            <tr>
                <th>Winning class</th>
                <th class="hidden-on-mobile">Correct numbers</th>
                <th>Winning amount</th>
                <th>Winners</th>
            </tr>
            <tr v-for="odd in draw.odds"
                :key="odd.winningClass"
            >
                <td>{{ odd.winningClass }}</td>
                <td class="hidden-on-mobile">
                    {{ ClassParameters[odd.winningClass].correct }} correct
                    <span v-if="ClassParameters[odd.winningClass].euro">+ {{ ClassParameters[odd.winningClass].euro }} Euro</span>
                </td>
                <td>{{ (odd.odd / 100) | toCurrency}}</td>
                <td>{{ odd.numberOfWinners }}</td>
            </tr>
        </table>
    </div>
</template>
<script>
    import WinningClassParameters from '../../constants/WinningClassParameters'

    export default {
        name: 'DrawDetails',
        props: {
            draw: {
                type: Object,
                required: true
            }
        },
        data () {
            return {
                ClassParameters: WinningClassParameters
            }
        }
    }
</script>

<style scoped lang="scss">
    .draw-details {
        border-top: 1px solid $color-gray-light2;
        padding: 10px;
        margin-top: 10px;

        table {
            width: 100%;

            th, td {
                padding: 5px 0;
            }

            th {
                font-weight: bold;
            }
        }
    }
</style>
