<template>
    <div class="draw">
        <DrawDescription :draw="draw"
                         @detailsToggle="onDetailsToggle()"
        />
        <DrawDetails :draw="draw"
                     v-if="detailsVisible"
        />
    </div>
</template>

<script>
    import DrawDescription from './DrawDescription.vue'
    import DrawDetails from './DrawDetails.vue'

    export default {
        name: 'Draw',
        props: {
            draw: {
                type: Object,
                required: true
            }
        },
        data () {
            return {
                detailsVisible: false
            }
        },
        methods: {
            onDetailsToggle () {
                this.detailsVisible = !this.detailsVisible
            }
        },
        components: {
            DrawDescription,
            DrawDetails
        }
    }
</script>

<style scoped lang="scss">
    .draw {
        border: 1px solid $color-blue5;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 20px;
        text-align: left;
        max-width: 700px;
        background: $color-blue0;
        margin: 0 auto 20px;
    }
</style>
