<template>
    <div class="draw-description">
        <div class="draw-description__header">
            <p class="draw-description__header__date">{{ draw.date }}</p>
            <div class="draw-description__header__jackpot">
                <div>JACKPOT</div>
                <span>{{ draw.jackpot | toCurrency }}</span>
            </div>
        </div>
        <div class="draw-description__numbers">
            <p>Winning numbers</p>
            <div v-for="(number, index) in draw.numbers"
                 class="draw-description__numbers__number"
                 :key="index"
            >
                {{ number }}
            </div>
            <span>
                <div v-for="(number, index) in draw.additionalNumbers"
                     class="draw-description__numbers__number draw-description__numbers__number--additional"
                     :key="index"
                >
                    {{ number }}
                </div>
            </span>
        </div>
        <button @click="toggleDetails">Toggle details</button>
    </div>
</template>

<script>
    export default {
        name: 'DrawDescription',
        props: {
            draw: {
                type: Object,
                required: true
            }
        },
        methods: {
            toggleDetails () {
                this.$emit('detailsToggle')
            }
        }
    }
</script>

<style scoped lang="scss">
    .draw-description {
        &__header {
            display: flex;
            justify-content: space-between;
            width: 100%;

            &__date {
                font-size: 26px;
            }

            &__jackpot {
                text-align: right;

                span {
                    font-size: 20px;
                    color: $color-blue2;
                }
            }
        }

        &__numbers {
            margin: 20px 0;

            &__number {
                background: $color-gray-light2;
                border: 1px solid $color-gray-light;
                padding: 10px;
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                margin-top: 10px;

                &--additional {
                    background: $color-blue1;
                    border: 1px solid $color-blue2;
                }
            }
        }
    }
</style>
