<template>
    <main>
        <h1 class="section-heading">Eurojackpot Results</h1>
        <ApolloQuery :query="require('../graphql/Draws.gql')"
                     :variables="{ limit: 10, type: 'eurojackpot' }"
        >
            <template v-slot="{ result: { loading, error, data } }">
                <div v-if="loading">Loading...</div>
                <div v-else-if="error">Oops! Error occurred.</div>
                <div v-else-if="data && data.draw">
                    <DrawsList :draws="data.draw.draws"/>
                </div>
            </template>
        </ApolloQuery>
    </main>
</template>

<script lang="ts">
    import Vue from 'vue'
    import DrawsList from "../components/DrawsList.vue";

    export default Vue.extend({
        name: 'Home',
        components: {
            DrawsList
        }
    })
</script>
