<template>
    <main class="home">
        <h1 class="section-heading">Welcome to EuroJackpot</h1>

        <h2>The Eurolotto with the record jackpot</h2>
        <p>With EuroJackpot you can now play online for one of the highest jackpots in Europe! With a guaranteed 10
            million € top prize and record winnings of up to 90 million € this modern Euro lottery regularly makes the
            best headlines. In fact, the biggest lottery winnings in Germany have been made with this Eurolotto! With
            Lottohelden.com you can now comfortably play EuroJackpot online and go on the big jackpot hunt together with
            players from 18 different countries! Simply select your lucky numbers and submit your EuroJackpot ticket
            online – we take care of the evaluation of the hits and automatically pay out the EuroJackpot winnings that
            you have earned yourself! At Lottohelden.com the EuroJackpot deadline even is extended so you’ll always have
            enough time to submit your bets. For the Friday draws, you can now still submit your ticket via the Internet
            until 19:10 CET. With just one click you have the chance to win millions and maybe you'll soon be the next
            EuroJackpot record winner!</p>

        <h2>EuroJackpot: Win up to 90 million € at Eurolotto</h2>
        <p>The EuroJackpot lottery sets new standards throughout Europe! Because with this innovative pan-european
            lottery jackpots in the tens of millions of euros are waiting every drawing day throughout the year. In
            prize category 1 there’s a guaranteed payout of at least 10 million € every Friday. But it gets even better!
            Each EuroJackpot draw adds an average of 10 million € to the pool. And the maximum is only reached when the
            jackpot hits its official limit of an unbelievable 90 million €! Thus, the EuroJackpot definitely belongs to
            the absolute premium class – and ever since 2012 players on the whole continent have been enthusiastic about
            it. From Norway to Spain lottery players are feverishly following the weekly EuroJackpot draws. And many of
            the highest jackpots frequently go to Germany! In Fact, five of the 10 highest EuroJackpots of all time were
            actually paid to German punters – including a lucky guy who won the maximum amount of 90 million €! No
            wonder that the Eurolotto has long since become one of the most popular lotteries in Germany – and yet it
            continues to win new fans every week!!</p>

        <h2>How it works: Play EuroJackpot online</h2>
        <p>The EuroJackpot is an exciting number lottery that scores with simple rules! With EuroJackpot you bet
            according to the lottery formula "5 plus 2"… because a total of seven numbers are selected in each draw:
            Five winning numbers and two additional numbers. In order to place your bet, you choose five main numbers
            per line from the range 1 to 50 and mark them in the box. Then you select two Euro numbers between 1 and 10.
            Up to 10 lines are available on our Eurolotto online ticket to bet on your winning numbers. You can fill out
            the EuroJackpot ticket with the desired numbers yourself and thus participate in the jackpot hunt with your
            personal lucky numbers! Alternatively, you have the possibility to let chance decide with a EuroJackpot
            quick pick. Once the boxes are filled out with your preferred numbers you can determine the drawing day and
            the duration of your bet with just a few clicks – after this your Eurolotto ticket is ready to be submitted.
            If you've placed all the crosses in the right spots you'll reach the first prize category and win the
            EuroJackpot.</p>
    </main>
</template>

<script lang="ts">
    import Vue from 'vue'

    export default Vue.extend({
        name: 'Home'
    })
</script>

<style scoped lang="scss">
    .home {
        text-align: left;
        line-height: 18px;

        h2 {
            margin: 50px 0 10px;
            font-size: 20px;
            color: $color-blue3;
            letter-spacing: 1px;
        }
    }
</style>
