<template>
    <div>
        <p v-if="!draws || (draws.length === 0)">No draws found</p>
        <div v-else>
            <Section>
                <template #title>Latest draw</template>
                <template #content>
                    <Draw :draw="draws[0]"/>
                </template>
            </Section>
            <Section v-if="draws.length > 1">
                <template #title>Previous draws</template>
                <template #content>
                    <Draw v-for="draw in draws.slice(2)"
                          :draw="draw"
                          :key="draw.date"
                    />
                </template>
            </Section>
        </div>
    </div>
</template>

<script>
    import Draw from './Draw/Draw.vue'
    import Section from './Section.vue'

    export default {
        name: 'Draws',
        props: {
            draws: {
                type: Array,
                required: true
            }
        },
        components: {
            Draw,
            Section
        }
    }
</script>
