<template>
    <footer class="footer">
        Michał Czapkowicz
    </footer>
</template>

<script>
    export default {
        name: 'Footer'
    }
</script>

<style scoped lang="scss">
    .footer {
        text-align: center;
        background: $color-blue2;
        color: $color-blue4;
        width: 100%;
        height: 80px;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
