<template>
    <nav class="wrapper">
        <div class="container">
            <div class="nav">
                <div class="nav__logo">
                    <router-link to="/">RoyalCash</router-link>
                </div>
                <div>
                    <router-link to="/">About</router-link>
                    |
                    <router-link to="/draws">Draws</router-link>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: 'Navbar'
    }
</script>

<style scoped lang="scss">
    .wrapper {
        border-bottom: 1px solid $color-blue5;
        background: $color-blue2;

        .nav {
            padding: 30px 0;
            display: flex;
            justify-content: space-between;

            &__logo {
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: 6px;
                font-weight: bolder;
            }
        }
    }
</style>
