<template>
    <section class="section">
        <div class="section__title">
            <slot name="title" class="section__title"/>
        </div>
        <slot name="content"/>
    </section>
</template>

<script>
    export default {
        name: 'Section'
    }
</script>

<style scoped lang="scss">
    .section {
        max-width: 700px;
        margin: 0 auto;

        &__title {
            text-align: left;
            color: $color-primary;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 10px;
            margin-top: 60px;
        }
    }
</style>
