<template>
    <div id="app">
        <Navbar/>
        <div class="container">
            <router-view/>
        </div>
        <Footer/>
    </div>
</template>

<style lang="scss">
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
    }
</style>
<script>
    import Navbar from './components/Navbar'
    import Footer from './components/Footer'

    export default {
        components: {
            Footer,
            Navbar
        }
    }
</script>
