@media (max-width: $media-mobile-max-width) {
  .hidden-on-mobile {
    display: none;
  }
}

.section-heading {
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  letter-spacing: 4px;
  line-height: 55px;
}

.container {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  color: $color-black;
  text-decoration: none;

  &.router-link-exact-active {
    font-weight: bold;
  }
}
