$color-primary: teal;

$color-blue0: #f7fbfb;
$color-blue1: #b2d8d8;
$color-blue1: #b2d8d8;
$color-blue2: #66b2b2;
$color-blue3: #008080;
$color-blue4: #006666;
$color-blue5: #004c4c;

$color-gray-light: #ccc;
$color-gray-light2: #eee;

$color-black: #000;

$media-mobile-max-width: 768px;
$media-tablet-max-width: 992px;
$media-desktop-min-width: 1200px;
